@import url("https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --color-bg-dark: #202124; /* color-bg-dark */
  --color-bg-light: #dee4e7; /* color-bg-light */
  --color-bg-dark-secondary: #37474f; /*color-bg-dark-secondary*/
  --color-bg-light-secondary: #b0bec5; /*color-bg-light-secondary*/
  --color-bg-themebox-dark: #374151; /* theme box-color */
  --color-bg-themebox-light: #fff; /* theme-box-color */
  --text-color-dark: #222222; /* text color dark */
  --text-color-dark-secondary: #37474f; /* secondary dark text */
  --text-color-light: whitesmoke; /* text color white */
  --text-color-light-secondary: #b0bec5; /*secondary white text */
  --text-color-blue-dark: #5dd9f8;
  --text-color-blue-light: #0000ff;
  --dark-theme-logo: url("../img/logo/logo_white.png");
  --light-theme-logo: url("../img/logo/logo_black.png");
  --dark-theme-home-bg: url("../img/bg/home-bg-dark.png");
  --light-theme-home-bg: url("../img/bg/home-bg-light.png");
  --light-about-container-bg: #6672e4;
  ---light-about-me-content-bg: #79c0e7;

  --black-shadow: #37474f;
  --light-shadow: #052bff23;
}

[data-user-theme="dark"] {
  --color-mode: var(--color-dark);
  --color-bg: var(--color-bg-dark); /* color-sky-dark */
  --color-bg-secondary: var(--color-bg-dark-secondary);
  --home-bg: var(--dark-theme-home-bg);
  --text-color-primary: var(--text-color-light); /* text color light theme */
  --text-color-secondary: var(--text-color-light-secondary);
  --text-blue: var(--text-color-blue-dark);
  --color-bg-themebox: var(--color-bg-themebox-dark);
  --logo: var(--dark-theme-logo);
  --shadow: var(--light-shadow);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-mode: var(--color-dark);
    --color-bg: var(--color-bg-dark); /* color-sky-dark */
    --color-bg-secondary: var(--color-bg-dark-secondary);
    --home-bg: var(--dark-theme-home-bg);
    --text-color-primary: var(--text-color-light); /* text color light theme */
    --text-color-secondary: var(--text-color-light-secondary);
    --text-blue: var(--text-color-blue-dark);
    --color-bg-themebox: var(--color-bg-themebox-dark);
    --logo: var(--dark-theme-logo);
    --shadow: var(--light-shadow);
  }
}

[data-user-theme="light"] {
  --color-mode: var(--color-light);
  --color-bg: var(--color-bg-light); /* color-sky-light */
  --color-bg-secondary: var(--color-bg-light-secondary);
  --home-bg: var(--light-theme-home-bg);
  --text-color-primary: var(--text-color-dark); /* text color light theme */
  --text-color-secondary: var(--text-color-dark-secondary); /* secondary text */
  --text-blue: var(--text-color-blue-light);
  --color-bg-themebox: var(--color-bg-themebox-light);
  --logo: var(--light-theme-logo);
  --shadow: var(--black-shadow);
  --aboutme-bg: var(--light-about-container-bg);
  --aboutme-content-bg: var(---light-about-me-content-bg);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Andika", sans-serif;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  background-color: var(--color-bg);
  cursor: default;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 1rem;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  border: 0.3rem solid white;
  border-radius: 0.5rem;
  background-color: black;
}
::-webkit-scrollbar-thumb:hover {
  background-color: grey;
}

/*custom style */
.left {
  margin-right: auto;
  margin-left: 3rem;
}

.right-btn {
  margin-right: 2rem;
}

/* header */
.container-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: var(--color-bg);
  box-shadow: 0 0.5rem 1rem 0 var(--shadow);
}

#logo {
  content: var(--logo);
  width: 250px;
  height: 100px;
}

/* add theme toggle container */
.container-toggle {
  width: 5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg);
  padding: 1rem 3rem;
  cursor: pointer;
}

.container-toggle .toggle-theme {
  position: relative;
  height: 2rem;
  width: 4rem;
  border-radius: 64px;
  padding: 0px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg-themebox);
}

.toggle-theme .circle {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #fff;
  border: solid 5px #efcc00;
  animation: circle-right 500ms ease-in-out;
  animation-fill-mode: forwards;
}

.toggle-theme.toggled .circle {
  animation: circle-left 500ms ease-in-out;
  animation-fill-mode: forwards;
}

.sun-theme,
.moon-theme {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.1rem;
  opacity: 0;
}

.sun-theme.animated,
.moon-theme.animated {
  /*   opacity: 1; */
  animation: icon-anim 400ms ease-in-out;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
}

@keyframes icon-anim {
  0% {
    scale: 0.5;
    opacity: 0;
  }
  70% {
    scale: 1.15;
    opacity: 1;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes circle-left {
  0% {
    transform: translate(100%, 0);
    border-color: white;
    background-color: #374151;
  }

  100% {
    transform: translate(-100%, 0);
    border-color: white;
    background-color: #374151;
  }
}

@keyframes circle-right {
  0% {
    transform: translate(-100%, 0);
    border-color: #374151;
    background-color: white;
  }

  100% {
    transform: translate(100%, 0);
    border-color: #374151;
    background-color: white;
  }
}

/* nav-bar style*/
#nav-bar {
  justify-self: flex-end;
}
#nav-bar > ul {
  padding-inline: 0 2rem;
  padding-block: 1rem;
}

#nav-bar ul li {
  font-size: 1.5rem;
  padding-right: 1rem;
  color: var(--text-color-primary);
  display: inline-block;
}

#nav-bar ul li:not(:first-child)::before {
  color: var(--text-color-secondary);
  content: "|";
  font-size: 2rem;
  padding-right: 1rem;
  padding-bottom: 5px;
}

#nav-bar ul li a:hover {
  text-decoration: underline;
}

#navbar-toggle-btn {
  display: none;
  border-style: none;
  width: 50px;
  height: 50px;
  padding: 0 0;
  background-color: var(--color-bg);
}

.fa-solid.fa-bars,
.fa-solid.fa-xmark {
  font-size: 2rem;
  color: var(--text-color-primary);
}

@media screen and (max-width: 480px) {
  #logo {
    scale: 0.8;
    width: 90px;
    height: 60px;
  }
  .left {
    margin-right: auto;
    margin-left: 0;
  }
  .fa-solid.fa-bars,
  .fa-solid.fa-xmark {
    font-size: 1rem;
  }
  .right-btn {
    margin-right: 0rem;
  }
  .container-toggle {
    width: 1rem;
    height: 100%;
    justify-self: end;
    position: absolute;
    right: 40px;
    padding: 1rem 1.5rem;
  }

  .container-toggle .toggle-theme {
    height: 1rem;
    width: 2rem;
    border-radius: 64px;
    padding: 0px 16px;
  }

  .toggle-theme .circle {
    width: 0.5rem;
    height: 0.5rem;
    border: solid 4px;
  }

  .sun-theme {
    width: 1rem;
    height: 1rem;
    margin-left: 3rem;
  }
  .moon-theme {
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 3rem;
  }
  .hide {
    display: none;
  }
  .navbar-container {
    position: absolute;
    top: 66px;
    width: 100vw;
    background-color: var(--color-bg-secondary);
    border-top: solid 3px #fff;
    box-shadow: 0 0.5rem 1rem 0 var(--shadow);
  }

  #nav-bar > ul {
    padding-inline: 0;
  }

  #nav-bar ul li {
    font-size: 1rem;
    padding: clamp(1rem, 3vh, 2rem) 0rem;
    color: var(--text-color-primary);
    display: block;
    text-align: center;
  }

  #nav-bar ul li:not(:first-child)::before {
    display: none;
  }
  #navbar-toggle-btn {
    display: inline-block;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  #logo {
    scale: 0.8;
    width: 120px;
    height: 80px;
  }
  .fa-solid.fa-bars,
  .fa-solid.fa-xmark {
    font-size: 1.5rem;
  }

  .left {
    margin-left: 1rem;
  }
  .right-btn {
    margin-right: 0rem;
  }
  .container-toggle {
    width: 1rem;
    height: 100%;
    justify-self: end;
    position: absolute;
    right: 50px;
    padding: 1rem 1.5rem;
  }

  .container-toggle .toggle-theme {
    height: 1.5rem;
    width: 3rem;
    border-radius: 64px;
    padding: 0px 16px;
  }

  .toggle-theme .circle {
    width: 0.8rem;
    height: 0.8rem;
    border: solid 4px;
  }

  .sun-theme {
    width: 1.2rem;
    height: 1.2rem;
    margin-left: 3rem;
  }
  .moon-theme {
    width: 1rem;
    height: 1rem;
    margin-right: 3rem;
  }
  .hide {
    display: none;
  }
  .navbar-container {
    position: absolute;
    top: 86px;
    width: 100vw;
    background-color: var(--color-bg-secondary);
    border-top: solid 3px #fff;
    box-shadow: 0 0.5rem 1rem 0 var(--shadow);
  }

  #nav-bar > ul {
    padding-inline: 0;
  }

  #nav-bar ul li {
    font-size: 1.5rem;
    padding: clamp(1rem, 3vh, 2rem) 0rem;
    display: block;
    text-align: center;
  }

  #nav-bar ul li:not(:first-child)::before {
    display: none;
  }
  #navbar-toggle-btn {
    display: inline-block;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  #nav-bar ul li {
    font-size: clamp(1rem, 0.5rem + 1vw, 1.5rem);
    padding-right: 0.3rem;
    display: inline-block;
    text-align: center;
  }
  #nav-bar ul li:not(:first-child)::before {
    content: "|";
    font-size: 1.5rem;
    padding-right: 1rem;
    padding-bottom: 0px;
  }
}

@keyframes navbar-open {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}
@keyframes navbar-close {
  0% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(0);
  }
}

.navbar-open {
  animation: navbar-open 400ms ease-in-out forwards;
  transform-origin: top center;
}

.navbar-close {
  animation: navbar-close 400ms ease-in-out forwards;
  transform-origin: top center;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: var(--home-bg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 100px;
  width: 100%;
}

.home-text {
  font-size: clamp(5rem, 4rem + 2vw, 6rem);
  color: var(--text-color-primary);
}
.blue {
  color: var(--text-blue);
  font-weight: 600;
}

.typing {
  height: auto;
  margin-left: 10px;
  position: relative;
}
.typing::after {
  content: "";
  position: absolute;
  top: 10%;
  right: -5px;
  width: 1px;
  height: 80%;
  border-right: 5px solid var(--text-color-primary);
  animation: blink 0.5s ease infinite;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.btn-link {
  border: 3px solid black;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 5px 15px;
  font-size: 2rem;
  font-weight: 800;
  cursor: pointer;
  margin: 60px 90px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.link-about,
.link-project,
.link-mail {
  color: black;
}

.link-about:hover,
.link-project:hover,
.link-mail:hover {
  color: #fff;
}

.btn-link::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #0081c9;
  z-index: -1;
  transition: 0.8s;
}
.link-about::before,
.link-mail::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}
.link-project::before {
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

.link-about:hover::before,
.link-project:hover::before,
.link-mail:hover::before {
  height: 180%;
}

@media screen and (max-width: 480px) {
  .home-text {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    color: var(--text-color-primary);
    margin-top: clamp(80px, 60px + 5vw, 120px);
  }
  .home-container {
    justify-content: start;
    padding-top: 10px;
    background-position: center 66px;
    height: 70vh;
  }
  .btn-link {
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 6px;
    padding: 2px 5px;
    font-size: 0.6rem;
    font-weight: 400;
    margin: 0px 30px;
    transition: 0.8s;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .home-text {
    font-size: 2rem;
    padding-bottom: 1.5rem;
    color: var(--text-color-primary);
    margin-top: clamp(80px, 60px + 5vw, 120px);
  }
  .home-container {
    justify-content: start;
    padding-top: 50px;
    background-position: center 66px;
  }
  .btn-link {
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 0.8rem;
    font-weight: 600;
    margin: 0px 30px;
    transition: 0.8s;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .home-text {
    font-size: clamp(3rem, 2rem + 2vw, 4rem);
    color: var(--text-color-primary);
    margin-top: clamp(50px, 40px + 3vw, 75px);
  }
  .home-container {
    justify-content: start;
    padding-top: 100px;
    background-position: center 66px;
  }
  .btn-link {
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 5px 15px;
    font-size: 1.2rem;
    font-weight: 800;
    margin: 40px 60px;
    transition: 0.8s;
  }
}

/* About */
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--aboutme-bg);
  border-radius: 10px;
  width: 100%;
  margin-top: 50px;
  padding-top: 75px;
}

.about-me {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  width: 80%;
  padding: 10px;
  opacity: 0;
  transition: opacity 1.25s ease-in-out;
}

.title {
  font-size: 2.8rem;
  color: white;
  margin-top: 30px;
  font-weight: 600;
}

.sub-title {
  font-size: 2.5rem;
  color: white;
  font-weight: 600;
}

.content {
  color: white;
  font-size: 1.8rem;
  margin-top: 10px;
  font-weight: 200;
}

.about-me-content {
  width: 80vw;
  padding: 3rem 5rem 5rem 5rem;
  border-radius: 2rem;
  margin-top: 50px;
  margin-bottom: -500px;
  background-color: var(--aboutme-content-bg);
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 1.25s ease-in-out;
  text-align: center;
}

.tech-container {
  margin-top: 50px;
}

.logo-container {
  flex-wrap: wrap;
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
}

.logo-container img {
  width: 100px;
  height: 100px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .title {
    font-size: 2.5rem;
    margin-top: 30px;
  }

  .sub-title {
    font-size: 2.2rem;

    font-weight: 600;
  }

  .content {
    font-size: 1.5rem;
    margin-top: 10px;
  }

  .logo-container img {
    width: 75px;
    height: 75px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .title {
    font-size: 2.2rem;
    margin-top: 30px;
  }

  .sub-title {
    font-size: 1.8rem;
    font-weight: 600;
  }

  .content {
    font-size: 1.2rem;
    margin-top: 10px;
  }

  .logo-container img {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 1.5rem;
    margin-top: 10px;
  }

  .sub-title {
    font-size: 1.2rem;
    font-weight: 300;
  }

  .content {
    font-size: 0.8rem;
    margin-top: 5px;
  }

  .logo-container img {
    width: 25px;
    height: 25px;
  }
  .about-container {
    padding-top: 50px;
    margin-top: 0;
  }

  .about-me-content {
    margin-bottom: -300px;
    margin-top: 20px;
    padding: 1rem 5rem 2.5rem 5rem;
  }
  .tech-container {
    margin-top: 20px;
  }
  .logo-container {
    margin-top: 20px;
  }
}

.project-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 600px;
  margin-bottom: 150px;
  padding-top: 30px;
}

.project-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  width: 80%;
  padding-top: 80px;
}

.project-content p {
  color: var(--text-color-primary);
}

.project-items {
  display: flex;
}

.contact-container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 150px 30px;
  opacity: 0;
  transition: opacity 1.25s ease-in-out;
}

.visible {
  opacity: 1;
}

.contact-container p {
  color: var(--text-color-primary);
}

.link-mail {
  font-size: 1.5rem;
}

.footer-container {
  display: flex;
  justify-content: center;
  background-color: var(--aboutme-bg);
  text-align: center;
  padding: 10px;
  font-size: 1.2rem;
  color: white;
  font-weight: 600;
  cursor: default;
}

.footer-container p {
  padding: 10px;
}

.footer-container a:hover {
  text-decoration: underline;
}

.carousel {
  width: 100%;
  height: 950px;
  display: flex;
  max-width: 900px;
  max-height: 550px;
  overflow: hidden;
  position: relative;
  margin-top: 50px;
}

.carousel-item {
  visibility: visible;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  -webkit-align-items: center;
  -webkit-justify-content: flex-end;
  position: relative;
  background-color: #fff;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  position: absolute;
  z-index: 0;
  transition: 1s all linear;
}

.carousel-item__info {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;

  order: 1;
  left: 0;
  margin: auto;
  padding: 0 40px;
  width: 40%;
}

.carousel-item__image {
  width: 60%;
  height: 100%;
  order: 2;
  align-self: flex-end;
  flex-basis: 60%;

  -webkit-order: 2;
  -webkit-align-self: flex-end;
  -webkit-flex-basis: 60%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transform: translateX(100%);
  transition: 0.6s all ease-in-out;
}

.carousel-item__subtitle {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 3px;
  font-size: 10px;
  text-transform: uppercase;
  margin: 0;
  color: #7e7e7e;
  font-weight: 700;
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.8s all ease-in-out;
}

.carousel-item__title {
  margin: 15px 0 0 0;
  font-family: "Playfair Display", serif;
  font-size: 44px;
  line-height: 45px;
  letter-spacing: 3px;
  font-weight: 700;
  color: #2c2c2c;
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 1s all ease-in-out;
}

.carousel-item__description {
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.6s all ease-in-out;
  margin-top: 35px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #7e7e7e;
  line-height: 22px;
  margin-bottom: 35px;
}

.carousel-item--1 .carousel-item__image {
  background-image: url("https://images.pexels.com/photos/991012/pexels-photo-991012.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.carousel-item--2 .carousel-item__image {
  background-image: url("https://images.pexels.com/photos/921294/pexels-photo-921294.png?auto=compress&cs=tinysrgb&h=750&w=1260");
}

.carousel-item__btn {
  width: 35%;
  color: #2c2c2c;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 3px;
  font-size: 11px;
  text-transform: uppercase;
  margin: 0;
  width: 35%;
  font-weight: 700;
  text-decoration: none;
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 1s all ease-in-out;
}

.carousel__nav {
  position: absolute;
  right: 0;
  z-index: 2;
  background-color: #fff;
  bottom: 0;
}

.carousel__icon {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  fill: #5d5d5d;
}

.carousel__arrow {
  cursor: pointer;
  display: inline-block;
  padding: 11px 15px;
  position: relative;
}

.carousel__arrow:nth-child(1):after {
  content: "";
  right: -3px;
  position: absolute;
  width: 1px;
  background-color: #b0b0b0;
  height: 14px;
  top: 50%;
  margin-top: -7px;
}

.active {
  z-index: 1;
  display: flex;
  visibility: visible;
}

.active .carousel-item__subtitle,
.active .carousel-item__title,
.active .carousel-item__description,
.active .carousel-item__btn {
  transform: translateY(0);
  opacity: 1;
  transition: 1s all ease-in-out;
  visibility: visible;
}

.active .carousel-item__image {
  transition: 1s all ease-in-out;
  transform: translateX(0);
}
