@import url("https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --color-bg-dark: #202124; /* color-bg-dark */
  --color-bg-light: #dee4e7; /* color-bg-light */
  --color-bg-dark-secondary: #37474f; /*color-bg-dark-secondary*/
  --color-bg-light-secondary: #b0bec5; /*color-bg-light-secondary*/
  --color-bg-themebox-dark: #374151; /* theme box-color */
  --color-bg-themebox-light: #fff; /* theme-box-color */
  --text-color-dark: #222222; /* text color dark */
  --text-color-dark-secondary: #37474f; /* secondary dark text */
  --text-color-light: whitesmoke; /* text color white */
  --text-color-light-secondary: #b0bec5; /*secondary white text */
  --text-color-blue-dark: #5dd9f8;
  --text-color-blue-light: #0000ffcc;
  --dark-theme-logo: url("../img/logo/logo_white.png");
  --light-theme-logo: url("../img/logo/logo_black.png");
  --dark-theme-home-bg: url("../img/bg/home-bg-dark.png");
  --light-theme-home-bg: url("../img/bg/home-bg-light.png");

  --black-shadow: #37474f;
  --light-shadow: #052bff23;
}

[data-user-theme="dark"] {
  --color-mode: var(--color-dark);
  --color-bg: var(--color-bg-dark); /* color-sky-dark */
  --color-bg-secondary: var(--color-bg-dark-secondary);
  --home-bg: var(--dark-theme-home-bg);
  --text-color-primary: var(--text-color-light); /* text color light theme */
  --text-color-secondary: var(--text-color-light-secondary);
  --text-blue: var(--text-color-blue-dark);
  --color-bg-themebox: var(--color-bg-themebox-dark);
  --logo: var(--dark-theme-logo);
  --shadow: var(--light-shadow);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-mode: var(--color-dark);
    --color-bg: var(--color-bg-dark); /* color-sky-dark */
    --color-bg-secondary: var(--color-bg-dark-secondary);
    --home-bg: var(--dark-theme-home-bg);
    --text-color-primary: var(--text-color-light); /* text color light theme */
    --text-color-secondary: var(--text-color-light-secondary);
    --text-blue: var(--text-color-blue-dark);
    --color-bg-themebox: var(--color-bg-themebox-dark);
    --logo: var(--dark-theme-logo);
    --shadow: var(--light-shadow);
  }
}

[data-user-theme="light"] {
  --color-mode: var(--color-light);
  --color-bg: var(--color-bg-light); /* color-sky-light */
  --color-bg-secondary: var(--color-bg-light-secondary);
  --home-bg: var(--light-theme-home-bg);
  --text-color-primary: var(--text-color-dark); /* text color light theme */
  --text-color-secondary: var(--text-color-dark-secondary); /* secondary text */
  --text-blue: var(--text-color-blue-light);
  --color-bg-themebox: var(--color-bg-themebox-light);
  --logo: var(--light-theme-logo);
  --shadow: var(--black-shadow);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Andika", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: var(--color-bg);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 1rem;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  border: 0.3rem solid white;
  border-radius: 0.5rem;
  background-color: black;
}
::-webkit-scrollbar-thumb:hover {
  background-color: grey;
}

/*custom style */
.left {
  margin-right: auto;
  margin-left: 3rem;
}

.right-btn {
  margin-right: 2rem;
}

/* header */
.container-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--color-bg);
  box-shadow: 0 0.5rem 1rem 0 var(--shadow);
}

#logo {
  content: var(--logo);
  width: 250px;
  height: 100px;
}

/* add theme toggle container */
.container-toggle {
  width: 5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg);
  padding: 1rem 3rem;
}

.container-toggle .toggle-theme {
  position: relative;
  height: 2rem;
  width: 4rem;
  border-radius: 64px;
  padding: 0px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg-themebox);
}

.container-toggle.dark .toggle-theme {
  background-color: var(--color-bg-themebox);
}

.toggle-theme .circle {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #fff;
  border: solid 5px #efcc00;
  animation: circle-right 500ms ease-in-out;
  animation-fill-mode: forwards;
}

.toggle-theme.toggled .circle {
  animation: circle-left 500ms ease-in-out;
  animation-fill-mode: forwards;
}

.sun-theme {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.1rem;
  opacity: 0;
}
.moon-theme {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.1rem;
  opacity: 0;
}

.sun-theme.animated,
.moon-theme.animated {
  /*   opacity: 1; */
  animation: icon-anim 400ms ease-in-out;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
}

@keyframes icon-anim {
  0% {
    scale: 0.5;
    opacity: 0;
  }
  70% {
    scale: 1.15;
    opacity: 1;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes circle-left {
  0% {
    transform: translate(100%, 0);
    border-color: white;
    background-color: #374151;
  }

  100% {
    transform: translate(-100%, 0);
    border-color: white;
    background-color: #374151;
  }
}

@keyframes circle-right {
  0% {
    transform: translate(-100%, 0);
    border-color: #374151;
    background-color: white;
  }

  100% {
    transform: translate(100%, 0);
    border-color: #374151;
    background-color: white;
  }
}

/* nav-bar style*/
#nav-bar {
  justify-self: flex-end;
}
#nav-bar > ul {
  padding-inline: 0 2rem;
  padding-block: 1rem;
}

#nav-bar ul li {
  font-size: 1.5rem;
  padding-right: 1rem;
  color: var(--text-color-primary);
  display: inline-block;
}

#nav-bar ul li:not(:first-child)::before {
  color: var(--text-color-secondary);
  content: "|";
  font-size: 2rem;
  padding-right: 1rem;
  padding-bottom: 5px;
}

#nav-bar ul li a:hover {
  text-decoration: underline;
}

#navbar-toggle-btn {
  display: none;
  border-style: none;
  width: 50px;
  height: 50px;
  padding: 0 0;
  background-color: var(--color-bg);
}

.fa-solid.fa-bars,
.fa-solid.fa-xmark {
  font-size: 2rem;
  color: var(--text-color-primary);
}

@media screen and (max-width: 480px) {
  #logo {
    scale: 0.8;
    width: 150px;
    height: 100px;
  }
  .left {
    margin-right: auto;
    margin-left: 0;
  }
}

@keyframes navbar-open {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}
@keyframes navbar-close {
  0% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(0);
  }
}

.navbar-open {
  animation: navbar-open 400ms ease-in-out forwards;
  transform-origin: top center;
}

.navbar-close {
  animation: navbar-close 400ms ease-in-out forwards;
  transform-origin: top center;
}

@media screen and (max-width: 950px) {
  .hide {
    display: none;
  }
  .navbar-container {
    position: absolute;
    top: 104px;
    width: 100vw;
    background-color: var(--color-bg-secondary);
    border-top: solid 3px #fff;
    box-shadow: 0 0.5rem 1rem 0 var(--shadow);
  }

  #nav-bar > ul {
    padding-inline: 0;
  }

  #nav-bar ul li {
    font-size: 2rem;
    padding: clamp(1rem, 5vh, 3rem) 0rem;
    color: var(--text-color-primary);
    display: block;
    text-align: center;
  }

  #nav-bar ul li:not(:first-child)::before {
    display: none;
  }
  #navbar-toggle-btn {
    display: inline-block;
  }
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.btn-container > button {
  border-radius: 15px;
  padding: 0rem 0.5rem 0.3rem;
  margin: 4rem;
  font-size: 2rem;
}

.font-4rem {
  font-size: 4rem;
}

.home-text {
  font-size: 5rem;
  color: var(--text-color-primary);
}
.blue {
  color: var(--text-blue);
}

.home-background {
  background-image: var(--home-bg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 100px;
  width: 100%;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.wrap {
  animation: blink-caret 0.5s step-end infinite;
}
